
# ignore corpus 
rocrate/

# ignore db
rocrate.db

# DS_Store files
.DS_Store

# ignore python cache files
src/__pycache__/
tests/__pycache__/

# ignore .vscode
.vscode/

# ignore .pytest_cache
.pytest_cache/

# ignore python version
.python-version

