
# ignore corpus 
rocrate/

# ignore db
rocrate.db

# DS_Store files
.DS_Store

# ignore python cache files
ldacatabulator/__pycache__/
tests/__pycache__/

# ignore .vscode
.vscode/

# ignore .pytest_cache
.pytest_cache/

# ignore python version
.python-version

# ignore vim 
.swp

# Ignore jupyter files
.ipynb_checkpoints/

# ignore test folders and databases when created
testCorpus/
tests/crates/languageFamily/languageFamily.db
corpus_test/

# ignore src folder
src/ldacatabulator/__pycache__

# Ruff cache
.ruff_cache 
