site_name: LDaCA Tabulator

theme:
   name: "material"

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: false


nav:
  - Tabulator: tabulator.md
